<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SkyrimPotionWindow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SkyrimPotionWindow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SkyrimPotionWindow.Properties.Settings>
            <setting name="SaveResolution" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IdleTimeout" serializeAs="String">
                <value>3</value>
            </setting>
        </SkyrimPotionWindow.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <SkyrimPotionWindow.Properties.Settings>
            <setting name="AlchemySkill" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="FortifyAlchemy" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AlchemistPerkLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PhysicianPerk" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BenefactorPerk" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PoisonerPerk" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PurityPerk" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoSearch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SeekerOfShadows" serializeAs="String">
                <value>False</value>
            </setting>
        </SkyrimPotionWindow.Properties.Settings>
    </userSettings>
</configuration>